<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tripleten - Project Around</title>
  </head>
  <body>
    <div class="page">
      <header class="header">
        <img
          class="header__logo"
          src="<%= require('./images/Vector.png')%>"
          alt="Logo escrito Around the U.S."
        />
      </header>
      <main class="main container">
        <section class="profile">
          <div class="profile__content">
            <img class="profile__avatar" src=" " alt="Foto de Perfil" />
            <div class="profile__info">
              <div class="profile__title-btn">
                <h1 class="profile__title"></h1>
                <button class="button profile__btn-title">
                  <img
                    src="<%= require('./images/Vector_btn.png')%>"
                    alt="Botão de editar perfil"
                  />
                </button>
              </div>
              <p class="profile__subtitle"></p>
            </div>
            <button class="button profile__btn-add">
              <img
                src="<%= require('./images/Vector_plus.png')%>"
                alt="Botão de adicionar"
              />
            </button>
          </div>
        </section>
        <section class="elements">
          <ul class="elements__list"></ul>
        </section>
      </main>
      <footer class="footer container">
        <p class="footer__text">© 2023 Around The U.S.</p>
      </footer>

      <div class="popup">
        <form class="popup__form" name="editProfile">
          <button type="button" class="popup__close-btn">
            <img
              class="popup__close-btn-icon"
              src="<%= require('./images/close_icon.svg')%>"
              alt="botão de fechar janela"
            />
          </button>
          <h2 class="popup__title">Editar Perfil</h2>
          <div class="popup__input-container">
            <div class="popup__control popup__size">
              <input
                id="name"
                class="popup__input-box popup__input-box-name"
                type="text"
                name="name"
                minlength="2"
                maxlength="40"
                required
              />
              <span class="popup__error"></span>
            </div>
            <div class="popup__control">
              <input
                id="job"
                class="popup__input-box popup__input-box-job"
                type="text"
                name="job"
                minlength="2"
                maxlength="200"
                required
              />
              <span class="popup__error"></span>
            </div>
          </div>
          <button type="submit" class="popup__save-btn popup__button-disabled">
            Salvar
          </button>
        </form>
      </div>

      <div class="popup popupImg">
        <div class="popupImg-container">
          <button type="button" class="popup__close-btn">
            <img
              class="popupImg-close-btn-icon"
              src="<%= require('./images/close_icon.svg')%>"
              alt="botão de fechar janela"
            />
          </button>
          <img class="popupImg-modal" src=" " alt="" />
          <p class="popupImg-footer"></p>
        </div>
      </div>

      <div class="popupAdd">
        <form class="popupAdd__form" name="addPlace">
          <button type="button" class="popupAdd__close-btn">
            <img
              class="popupAdd__close-btn-icon"
              src="<%= require('./images/close_icon.svg')%>"
              alt="botão de fechar janela"
            />
          </button>
          <h2 class="popupAdd__title">Novo local</h2>
          <div class="popupAdd__input-container">
            <div class="popupAdd__control popupAdd__size">
              <input
                id="title"
                class="popupAdd__input-box popupAdd__input-box-title"
                type="text"
                name="title"
                placeholder="Título"
                minlength="2"
                maxlength="30"
                required
              />
              <span class="popupAdd__error"></span>
            </div>
            <div class="popupAdd__control">
              <input
                id="link"
                class="popupAdd__input-box popupAdd__input-box-link"
                type="url"
                name="link"
                placeholder="Link da imagem"
                minlength="15"
                required
              />
              <span class="popupAdd__error"></span>
            </div>
          </div>
          <button type="submit" class="popupAdd__save-btn">Criar</button>
        </form>
      </div>

      <div class="popup__delete">
        <form class="popup__delete-form" name="deleteConfirmation">
          <button type="button" class="popup__delete-close">
            <img
              class="popup__close-btn-icon"
              src="<%= require('./images/close_icon.svg')%>"
              alt="botão de fechar janela"
            />
          </button>
          <h2 class="popup__title">Tem certeza?</h2>
          <button
            type="submit"
            class="popup__delete-btn popup__delete-button-disabled"
          >
            Sim
          </button>
        </form>
      </div>
    </div>

    <template id="elements__list">
      <li class="elements__list-img">
        <div class="elements__list-img-wrapper">
          <img src=" " alt="" class="elements__item" />
        </div>
        <button class="button elements__btn-trh"></button>
        <div class="elements__description">
          <p class="elements__title"></p>
          <div class="elements__heart-container">
            <button class="button elements__btn-hrt"></button>
            <span class="elements__btn-hrt-counter"></span>
          </div>
        </div>
      </li>
    </template>
  </body>
</html>
